*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Cormorant Garamond",serif ;
}
.aboutus{
    height: 200px;
    background-color: #ded6c9;
    display: flex;
    align-items: center;
    justify-content: center;


}
.inside-about-us h1{
    font-size: 3rem;
    margin-left: 100px;
}
.inside-about-us p{
    font-size: 2rem;
}
/* section */
section{
    max-height: 90vh;
    padding: 10% 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.info-box{
    flex:1;
    display:flex;
    flex-direction: column;
    gap:1em;




}
.info-box h1{
    font-size: 5em;
    line-height: 1;
}
.info-box h3{
    font-size: 2em;
}
.gradient-txt{
    background: linear-gradient(270deg, #2fffdc 10%, #87ff38 100%);
    color: transparent;
    background-clip: text;
}
.botton-box{
    display: flex;
    gap: 1em;
}
.btn{
    padding: 10px;
    border-radius: 1em;
    font-size: 1.2em;
    background: #30613c;
    border: 2px solid transparent;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.btn:hover{
  
    background: black;
    border: 2px solid transparent;
    color: white;
  

}
.photo-section{
    flex:1;
    height: 600px;
    display: flex;
    gap: 1em;
    /* border: 2px solid green; */


}
.column-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 2px solid green; */

}
.column-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 2px solid green; */
}
.box{
    flex:1;
    border-radius: 1em;
    display: flex;
    gap: 1em;
    transition: 0.2s ease-in-out;
    /* border-radius: 2px solid green; */
}
.inner-box {
    flex: 1;
    border-radius: 1em;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    /* border: 2px solid green; */
}
.inner-box:type{
    flex: 2;


}
.column-left .inner-box:nth-of-type(1){
    flex: 2;
}
.column-left .box:nth-of-type(2) .inner-box:nth-of-type(2){
    flex: 3;
}
/*  column left row 2 ko 2nd box */
.column-left .box:nth-of-type(3) .inner-box{
    flex: 1;
}
.inner-box:hover{
    transform: scale(1.02s);
    opacity: 1;
}
.column-right:hover{
     transform: scale(1.02s);
    opacity: 1;

}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
video{
    object-fit: cover;
    width: 100%;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.column-right .box{
    overflow: hidden;
}

@media(max-width:1200px){
    section{
        flex-direction: column;
        margin: 10em 2em;
        padding: 10% 5%;
    }
    header ul{
        display: none;
    }
    menu-icon{
        display: block;
    }
}
/* mid section */
.detail{
    padding: 4em;
    background-color: #ded6c9;
    height: 100%;
    width: 100%;
}
.detail-content{ 
    display: inline;
    align-items: center;
    justify-content: center;
}
.description{
    margin-top: 5em;
    gap: 2em;
    padding: 20px 0px 15px;
}
.row1, .row2{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.fitness-classs,
.Yoga-class,
.sport,
.Mental-health,
.gym,
.dance{
    flex: 1 1 30%;
    height: 550px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}
.fitness-classs:hover,
.Yoga-class:hover,
.sport:hover,
.Mental-health:hover,
.gym:hover,
.dance:hover {
    transform: translateY(-10px) scale(1.02); /* lifts card */
    box-shadow: 0 15px 25px rgba(0,0,0,0.2); /* subtle shadow */
}

.image{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}
.box-content{
    margin: 1rem;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
button{
    height: 2em;
    width: 6em;
    font-size: 1em;
    padding: 4px;
    border-radius: 15px;
    background: #30613c;
    margin-left: 35px;
    margin-bottom: 5px;
    color: white;
}
button:hover{
    background-color: black;
    color: white;
    border-radius: px solid white;
    cursor: pointer;
}
@media (max-width: 1200px){
    .mid-section{
        padding: 2em;
    }

    .row1, .row2{
        flex-direction: column;
    }

    button{
        margin-left: 0;
    }
}
/* trainer */
.trainer{
    background-color: #f1f6f1;
    width: 100%;
    padding: 60px 0;
    margin: 20px 0 0;
}
.team-content{
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 100px;
}
.team-content span{
    color: gold;
    font-size: 2rem;
}
.team {
    display: flex;
    padding: 0em 4em;
    gap: 2em;
    
}
.team p, button{
    margin: 10px;
}
.team h1{
    margin-left: 60px;
}
.team p{
    margin-left: 75px;
    font-size: 1.2em;
}

.manager,
.co-founder,
.fit-trainer,
.yoga-trainer
{
    flex: 1 1 30%;
    height: 450px;
    /* border: 2px solid gray; */
    border-radius: 15px;
}
.image-team{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color:  #ded6c9;
}
.team-box-content{
    margin: 1rem;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* team2 */
.team2{
    display: flex;
    padding: 0em 4em;
    gap: 2em;
    margin-top: 20px;
    
}
.sport-trainer,
.mental-health-trainer,
.gym-trainer,
.dance-trainer{
    flex: 1 1 30%;
    height: 450px;
    border-radius: 15px;

}
.team2 p, button{
    margin: 10px;
}
.team2 h1{
    margin-left: 60px;
}
button{
    margin-left: 75px;
}
.team2 p{
    margin-left: 75px;
    font-size: 1.2em;
}
 