

#hathaimg::before{
    background-image: url(yogastylesimages/hathayoga.jpg);
    
}

#vinyasaimg::before{
    background-image: url(yogastylesimages/vinyasayoga.jpg);
    
}

#powerimg::before{
    background-image: url(yogastylesimages/poweryoga.jpg);
    
}

#yinimg::before{
    background-image: url(yogastylesimages/yinyoga.jpg);
    
}

#breathworkimg::before{
    background-image: url(yogastylesimages/breathworkyoga.jpg);
}

#prenatalimg::before{
    background-image: url(yogastylesimages/prenatalyoga.jpg);
}

.yogastyleboxes:hover{
    transform: translateY(-25px);
    box-shadow:
        0 0 30px rgba(0, 255, 150, 0.65),
        0 0 70px rgba(0, 255, 150, 0.50),
        0 0 110px rgba(0, 255, 150, 0.35);

}



#reducestress, #boosthearthealth{
    border-radius: 50px 50px 50px 50px;
}

#improvesleep, #enhancefocus{
    border-radius: 50px 0 50px 0; 
}

#buildstrength{
    border-radius: 50px 0 50px 0;
    background:linear-gradient(135deg,#1f3d28, #30613c) ;
}

#enhancefocus{
    border-radius: 0 50px 0 50px;
}

#improvesleep{
    background:linear-gradient(to bottom left,#1f3d28, #30613c) ;
}

#improveflexibility{
    background:linear-gradient(135deg,#1f3d28, #30613c) ;
}

#enhancefocus{
    background: linear-gradient(to top left, #1f3d28, #30613c);
}

#buildstrength{
    background: linear-gradient(to top right, #1f3d28, #30613c);
}


@media(max-width:500px){
    .yogastyleboxes{
        flex:0 0 100%;
    }
}