*{
    margin:0;
    padding: 0;
}

#herosec4_container{
    scroll-margin-top: 75px;
    height: 720px;
    width: 100%;
    /* background-color: #faf8f5; */
    background-color: rgb(250, 248, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}

#herosec4{
    height: 90%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#sec4_imgcontainer{
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec4_imgboxes{
    height: 90%;
    width: 45%;
   
    display: flex;
    justify-content: start;
    align-items: end;
    padding-left: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
    
}

.featuredclasses{
    position: relative;
    height: 35%;
    width: 50%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.classtype, .classtime{
    color:rgba(250, 248, 245, 0.7);
    font-size: 13px;
    font-family: "Inter", sans-serif;
    
}

.classname{
    color: #faf8f5;
    font-size: 23px;
    font-family: "Cormorant Garamond", serif;
}
#sec4_img1 {
    position: relative;        
    overflow: hidden;          

    background-image: url("/assets/images/landing/yoga-teacher-class-teaching-attendants.jpg");
    background-size: cover;
    background-position: center;
}

#sec4_img1::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: inherit;
    background-size: cover;
    background-position: center;

    filter:  brightness(0.5) ; 
    transform: scale(1.1);            

    z-index: 0;                       
}


#sec4_img2{
    position: relative;
    overflow: hidden;
    background-image: url("/assets/images/landing/full-shot-woman-exercising-mat.jpg");
    background-size: cover;
    background-position: center;
}

#sec4_img2::before{
    content: "";
    inset: 0;
    position: absolute;
    background-image: inherit;
    background-size: cover;
    background-position: center;
   
    z-index: 0;
    filter: brightness(0.4);
}

#herosec4 a{
    height: 40px;
    width: 300px;
    border-radius: 8px;
    color: #faf8f5;
    background-color: #30613c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

}

/* for Small Laptops */

@media (max-width: 1200px) {
    .classtype, .classtime{
        font-size:10px ;
    }

    .classname{
        font-size:20px ;
    }
    #sec4_imgcontainer{
        gap: 30px;
    }
}

/* For tablets */
/* Its all fine */

/* For Mobiles */
@media (max-width:600px){
    .sec4_imgboxes{
        padding-left: 0;
        padding-bottom: 0;
    }
    .featuredclasses{
      
        width: 100%;
        height: 45%;
        padding-left: 10px;
    }

}

/* For MACs */
@media (max-width:1280px){
  
  #sec4_imgcontainer{
    gap: 35px;
  }

}