*{
    margin:0;
    padding: 0;
}

#navbar_container{
    scroll-margin-top: 75px;
    height: 75px;
    width:100%;
    
    background-color: rgb(219, 217, 212);
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position:fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    
}


#nav_smallbox{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav_logo{
    width: 45%;
    font-size: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    color: #1b241d;
  
}

#other_btns{
    height: 100%;
    width: 50%;
   
    display: flex;
 
    justify-content: center;
    align-items: center;
}
#fullviewnav{
    height: 100%;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#other_btns a{ 
    height: 50%;
    position: relative;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #4e5950;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    background: transparent;
    border: none;
    cursor: pointer;



}
#hamburger, #servicesdrop{
    height: 40px !important;
    width:70px;

}
.nav-item {
  position: relative;
  display: inline-block;
}


.dropdown-content {
    position: absolute;
    top: 100%;
   
    left: 0;
    height: 150px;
    background-color: white;
    width: 150px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: 0.3s ease;
    z-index: 999;
}


.dropdown-content a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}


.dropdown-content a:hover {
    background: #f3f3f3;
}


.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#hamburgerdropdown{
    height: 50px !important;
  
   
}


#other_btns a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    background: #30613c;
    box-shadow: 0 0 12px rgba(60, 255, 143, 0.8);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
#other_btns a:hover::after{
    width: 100%;
    font-weight: normal;
}



#booknow{
    height: 33px;
    width: 150px;
    background-color: #30613c;
    font-size: 15px;
    color: white;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 550;
    transition: all 0.3s ease;
    border: none;
}

#booknow:hover{
    transform: scale(1.1);
    color: aqua;

}

#booknow:active{
    background-color: black;
}
#fullviewnav { display: flex; }
#responsivenavbar { display: none; }
@media (max-width: 900px) and (min-width: 601px) {
    #nav_smallbox{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #navlogo{
        width: 50%;

    }
    #other_btns{
        width: 50%;
        display:flex;
        justify-content: end;
        align-items: center;
    }

    a{
        font-size: 13px !important;
    }
    #fullviewnav { display: none; }
    #responsivenavbar { display: inline-block; }
    .dropdown-content{
        height: 310px;
        width: 100px !important;
        right: 100px;
        
    }
}

/* Mobile (<=600px) */
@media (max-width: 600px) {
    #nav_smallbox{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }
    #navlogo{
        width: 50%;

    }
    #other_btns{
        width: 50%;
        display:flex;
        justify-content: end;
        align-items: center;
    }

    a{
        font-size: 10px !important;

    }
 
    #fullviewnav { display: none; }
    #responsivenavbar { 
        display: inline-block;
           
      
    
    }
    .dropdown-content{
        height: 300px;
        width: 100px !important;
        right: 100px;
        
    }
}

#responsivenavbar{
    width: 50%;
}



