

*{
    margin:0;
    padding: 0px;
}

#footercontainer{
    height: 364px;            
    width: 100vw;
    display: flex;
   
    background-color: rgb(27 ,36, 29);
    
}

#fotterpart{
    height: 100%;
    width: 80%;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#fotter1{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    
    padding-top: 13px;          
}

#lowerfotter{
   
    height: 10%;
    width: 100%;
    color: rgba(255,255,255,0.5);
    font-size: 12px;            
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    padding-left: 26px;        
    display: flex;
    justify-content: start;
    align-items: end;
   
}

#merodocfotterleft{
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 26px;        
   
    
    
}
.foots{

    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 7px;                  

    
}

#merodoclog{
    height:30%;
    width: 80%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 29px;            
  
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 1.3px;      
}

#merodoclogcaption{
    height:30%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.5);
    font-size: 13px;           
    line-height: 23px;          
    font-family: "Inter", sans-serif;
    letter-spacing: 0.7px;      
}

#medialinks{
    height:20%;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 13px;                
    

}

.socialicons a {
  width: 29px;                  
  height: 29px;                 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px;                 
  font-size: 13px;             
  transition: 0.3s;

}
.socialicons a i {
  color: white !important;
}


.socialicons a:nth-child(1) { background: #1877F2; }
.socialicons a:nth-child(2) { background: #E1306C; }
.socialicons a:nth-child(3) { background: #1DA1F2; }
.socialicons a:nth-child(4) { background: #0A66C2; }
.socialicons a:nth-child(5) { background: #FF0000; }

.socialicons a:hover {
  transform: translateY(-4px);  
}



.smallfoottitle{
    height: 30%;
    width: 100%; 
    color: rgb(244, 236, 236);
    font-size: 16px;            
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    text-transform: uppercase;
   
    display:flex;
    justify-content: center;
    align-items: center;
}

.smallfootlists{
    
    height: 60%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgba(255,255,255,0.5);
    font-size: 13px;            
    font-family: "Inter", sans-serif;
}

.smallcaptionhover{
   
    height: 22%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s ease;
    
    
}

.innersmallcaption{
    height: 100%;
    width: 60%;
    
}

#firstfoot .smallcaptionhover{
    padding-right: 33px;        
}
#foot2 .smallfoottitle{
    padding-right: 7px;       
}
#secondfoot .smallcaptionhover {
    padding-right: 5px;         
}

#thirdfoot .smallcaptionhover {
    padding-right: 33px;      
}

.smallcaptionhover:hover{
   
    transform: translateX(6px); 
    color:aqua;
}


.linetag {
  border: none;
  height: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255);  
  margin: 16px 0;                              
}

@media (max-width: 900px) {

  #footercontainer{
    height: auto;
    padding: 40px 0;
  }

  #fotterpart{
    width: 90%;
  }

  #fotter1{
    flex-wrap: wrap;
    gap: 30px;
    height: auto;
  }

  #merodocfotterleft{
    width: 100%;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }

  #merodoclog,
  #merodoclogcaption{
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  #medialinks{
    justify-content: center;
  }

  .foots{
    width: 45%;
    align-items: center;
  }

  .smallfoottitle,
  .smallfootlists{
    align-items: center;
    text-align: center;
  }

  .smallcaptionhover{
    justify-content: center;
    padding-right: 0 !important;
  }

  #lowerfotter{
    text-align: center;
    justify-content: center;
    padding-left: 0;
    height: auto;
  }
}


@media (max-width: 600px) {

  #footercontainer{
    padding: 50px 0 30px;
  }

  #fotter1{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  #merodocfotterleft{
    width: 100%;
    gap: 18px;
  }

  #merodoclog{
    font-size: 26px;
  }

  #merodoclogcaption{
    font-size: 14px;
    line-height: 22px;
  }

  .foots{
    width: 100%;
  }

  .smallfoottitle{
    font-size: 15px;
  }

  .smallfootlists{
    gap: 14px;
  }

  .smallcaptionhover{
    height: auto;
  }

  .innersmallcaption{
    width: 100%;
    text-align: center;
  }

  #lowerfotter{
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    padding: 10px;
  }
}

.innersmallcaption{
  cursor: pointer;
}