*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Cormorant Garamond",serif ;
}
.aboutus{
    height: 200px;
    background-color: #ded6c9;
    display: flex;
    align-items: center;
    justify-content: center;


}
.inside-about-us h1{
    font-size: 3rem;
    margin-left: 100px;
}
.inside-about-us p{
    font-size: 2rem;
}
/* section */
section{
    max-height: 90vh;
    padding: 10% 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
#firstbox{
    background-color: #f0e9df;
}
.mid-section{
    background-color: #faf8f6 !important;
}
.info-box{
    padding-top: 75px;
    scroll-margin-top: 75px;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 600px;

    width: 100%;
}


.info-box h1{
    font-size: 5em;
    line-height: 1;
}
.info-box h3{
    font-size: 2em;
}
/* .gradient-txt{
    background: linear-gradient(270deg, #2fffdc 10%, #87ff38 100%);
    color: transparent;
    background-clip: text;
} */
.gradient-txt{
    font-size: 75px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    color: #1A241C !important;
    text-shadow: none;
}

h3 .gradient-txt{
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
  
    color: #1A241C !important;
}
.botton-box{
    height: 50px;
    width: 400px;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    justify-content:  space-between;
    align-items: start;
    
}
.btn{
    height: 35px;
    width: 135px;
    font-size: 18px;
    padding: 4px;
    border-radius: 8px;
    text-transform: capitalize;
    background: #30613c;
    margin-left: 35px;
    margin-bottom: 5px;
    color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: none;
}

#secondbtn{
    background-color: #1A241C;;
}
.btn:hover{
  
    background: black;
    border: 2px solid transparent;
    color: white;
  

}
.photo-section{
    flex:1;
    height: 600px;
    display: flex;
    gap: 1em;
    /* border: 2px solid green; */


}
.column-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 2px solid green; */

}
.column-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 2px solid green; */
}
.box{
    flex:1;
    border-radius: 1em;
    display: flex;
    gap: 1em;
    transition: 0.2s ease-in-out;
    /* border-radius: 2px solid green; */
}
.inner-box {
    flex: 1;
    border-radius: 1em;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    /* border: 2px solid green; */
}
.inner-box:type{
    flex: 2;


}
.column-left .inner-box:nth-of-type(1){
    flex: 2;
}
.column-left .box:nth-of-type(2) .inner-box:nth-of-type(2){
    flex: 3;
}
/*  column left row 2 ko 2nd box */
.column-left .box:nth-of-type(3) .inner-box{
    flex: 1;
}
.inner-box:hover{
    transform: scale(1.02s);
    opacity: 1;
}
.column-right:hover{
     transform: scale(1.02s);
    opacity: 1;

}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
video{
    object-fit: cover;
    width: 100%;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.column-right .box{
    overflow: hidden;
}

@media(max-width:1200px){
    section{
        flex-direction: column;
        margin: 10em 2em;
        padding: 10% 5%;
    }
    header ul{
        display: none;
    }
    menu-icon{
        display: block;
    }
}
/* mid section */
/* .mid-section{
    height: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.detail-content h3{
    font-size: 14px;
    text-transform: uppercase;
    color: #30613c;
    letter-spacing: 1.2px;
    font-family: "Inter", sans-serif;
    font-weight: none !important;
    
}
.detail{
    padding: 4em;
    background-color:#faf8f6;
    height: 100%;
    width: 100%;
}
.detail-content{ 
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;

}

.detail-content h1{
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    color: #000000 !important;
    text-shadow: none;
}
.description{

    background-color: #f0e9df;
  
    margin-top: 5em;
    gap: 2em;
    padding: 20px 0px 15px;
}
.description h1{
    font-size: 30px;
    color: black;

}
.description p{
    font-size: 14px;
 

}
.row1, .row2{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.fitness-classs,
.Yoga-class,
.sport,
.Mental-health,
.gym,
.dance{
    flex: 1 1 30%;
    height: 550px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}
.fitness-classs:hover,
.Yoga-class:hover,
.sport:hover,
.Mental-health:hover,
.gym:hover,
.dance:hover {
    transform: translateY(-10px) scale(1.02); /* lifts card */
    box-shadow: 0 15px 25px rgba(0,0,0,0.2); /* subtle shadow */
}

.image{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}
.box-content{
    margin: 1rem;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
button{
    height: 33px;
    width: 100px;
    font-size: 14px;
    padding-top: 4px;
    border-radius: 9px;
    background: #30613c;
    /* margin-left: 35px; */
    margin-top: 10px;
    text-transform: capitalize;
    border: none;
    font-family: "Inter", sans-serif;
    color: white;
    
    color: white;
    
}
button:hover{
    background-color: #1A241C;
    color: white;
    border-radius: px solid white;
    cursor: pointer;
}
@media (max-width: 1200px){
    .mid-section{
        padding: 2em;
    }

    .row1, .row2{
        flex-direction: column;
    }

    button{
        margin-left: 0;
    }
}

.numbers {
    background-color: #30613c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 0;
    color: white;
    text-align: center;
}

.stat h2 {
    font-size: 42px;
    font-family: "Cormorant Garamond", serif;
    color: #faf8f6;
    font-weight: 700;
    margin-bottom: 10px;
}

.stat p {
    color: #beb5ac;
    font-size: 16px;
    opacity: 0.9;
}
@media (max-width: 992px) {
    .stat h2 {
        font-size: 36px;
    }
}
@media (max-width: 600px) {
    .numbers {
        flex-direction: column;
    }

    /* .stat {
        margin: 25px 0;
    } */

    .stat h2 {
        font-size: 32px;
    }
}

.values {
    padding: 80px 20px;
    text-align: center;
    background: #f9f9f9;
}
#ourvalues{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #30613c;
    letter-spacing: 1.2;
    text-transform: uppercase;

}

.values-header span {
    font-size: 14px;
    letter-spacing: 2px;
    color: #777;
}

.values-header h2 {
    font-size: 60px;
    font-family: "Cormorant Garamond", serif;
    font-weight: none !important;
    margin: 15px 0;
}

.values-header p {
    color: #666;
    max-width: 600px;
    margin: 0 auto 50px;
}

.values-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.value-card {
    padding: 25px;
    transition: 0.3s ease;
}

.value-card:hover {
    transform: translateY(-8px);
}


.icon {
    width: 60px;
    height: 60px;
    background: #e6efe9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 24px;
    color: #2f5e37;
}

.value-card h3 {
    margin-bottom: 10px;
}

.value-card p {
    color: #666;
    font-size: 14px;
}
@media (max-width: 992px) {
    .values-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .values-container {
        grid-template-columns: 1fr;
    }

    .values-header h2 {
        font-size: 28px;
    }
}
