*{
    margin: 0;
    padding: 0;
}

#booking_container{
    height: 280px;
    width: 100%;
    background-color: #f0e9df;
    display: flex;
    justify-content: center;
    align-items: center;
}

#booking_innercontainer{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

#filter_container{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#filter_innercontainer{

    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
    align-items: center;
}

h3{
    font-size: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    color: #1A241C;
    letter-spacing: 0.85px;
}

.dropdown-btn{
    height: 40px;
    width: 130px;
    background-color:  #30613c;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #faf8f6;
    border: none;
    border-radius: 10px;

}
.dropdown-content{
    position: absolute;
    z-index: 9999;
}
.dropdown-content a{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: none;
    width: 90%;
    border-radius: 7px;
    transition: background-color 0.3s ease,
    color 0.3s ease;
}
.dropdown-content a:hover{
    background-color: #30613c;
    
    color: white;
}

.dropdown-content a:active{
    background-color: black;
    transform: scale(1.1);
    color: white;
}

#classes_booking{
    height: 1200px;
    width: 100%;
    background-color: rgb(250, 248, 245);
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#classes_innerbooking{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
}

#classes{
    height: 100%;
    width: 47%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


#yogaclasses, #meditationclasses, #nutritionclasses, #fitnessclasses{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.classescontainer{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #faf8f6;
   
    border-radius: 20px;
    box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.06),
    0 18px 40px rgba(0, 0, 0, 0.08);
    
}
#classesdescription{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.classesday{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.classesname{
    width: 70%;
    height: 25px;
    background-color:#30613c;
    color: #faf8f6;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.classestype{
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;


}
.classeswith{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #30613c;

}
h4{
    height: 90%;
    width: 25%;
    background-color:#ded6c9;
    border-radius: 8px;
    color: #1A241C;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#classesshedule{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
}
.classestime, .classesmin, .classesspot{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #30613c;
}
.classestime i, .classesmin i, .classesspot i{
    font-size: 15px;
    color: rgb(129, 96, 96);
}

#bookclasses{
    height: 30px;
    width: 120px;
    background-color: #30613c;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #faf8f6;
    transition: all 0.3s ease;
}
#bookclasses:hover, #submitbtn:hover{
    transform: scale(1.05);
}

#bookclasses:active, #submitbtn:active{
    transform: scale(1.2);
    background-color: black;
}

#meditationclasses{
    display: none;
}


#nutritionclasses{
    display: none;

}

#fitnessclasses{
    display: none;

}


#booking_process{
    
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow: visible;
}
#completebooking{
    height: 50px;
    width: 100%;
    text-align: center;
    
   
}

#bookingprocess_innercontainer{
    
    background-color: #f0e9df;
    border-radius: 20px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.form{
    height: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
  
    padding-left: 20px;
    border-radius: 10px;
    background-color: #faf8f6;
}
.form h3{
    font-size: 15px;
    color: #30613c;
    font-family: "Inter", sans-serif;
    height: 40%;
    width: 100%;
    text-align: start;
  
    
}

input{
    height: 50%;
    width: 70%;
    border-radius: 7px;
    border: 1.5px solid rgba(0, 0, 0, 0.06);
    padding-left: 10px;
}

#submitbtn{
    height: 35px;
    width: 70%;
    border: none;
    border-radius: 8px;
    background-color: #30613c;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #faf8f6;
    transition: all 0.3s ease;
}

#selectedclasses{
    height: 100px;
    width: 100%;
    background-color: #f0e9df;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#selectedclasses h3{
    font-size: 20px;
    height: 30%;
    width: 30%;
}

#choosedclass{
    height: 90%;
    width: 50%;
    background-color: #faf8f6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#whichclass{
    font-size: 10px;
    color: #1A241C;
}
#name{
    font-size: 12px;
    font-family: "Cormorant Garamond", serif;
    color: black;
}
#instructor{
    font-size: 8px;
    color: #30613c;
}
#days{
    font-size: 7px;
    color: #30613c;
}

/* remaining JS innerttext add when button clicked tommorow */