*{
    margin: 0;
    padding: 0;
}

#servicesoffers_main{
  height: 520px;
  width: 100vw;
  background-color: #f0e9df;
  display: flex;
  justify-content: center;
  align-items: center;
}

#servicesoffers_inner{
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 39px;
}

#servicesOffersListBox{
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.servicesOfferRow{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 12px;
  background-color: #30613c;
  transition: 0.3s ease;
}

.servicesOfferRow i{
  font-size: 17px;
  color: white;
}

.servicesOfferRow span{
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: white;
  line-height: 1.6;
}

.servicesOfferRow:hover{
  transform: translateX(7px);
  background-color: #2d773f;
}

#servicesOffersTitleBox{
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

#servicesOffersTitleBox h2{
  text-align: start;
  padding-left: 26px;
}

#servicesOffersTitleBox p{
  padding-left: 26px;
}

#servicesOffersTitleBox .smalltitles{
  padding-left: 26px;
}
