

*{
    margin: 0;
    padding: 0;
}

#yogafirstsec_container{
    scroll-margin-top: 75px;      
    height: 650px;               
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg,#FAF8F5,#F1F6F1); */
    background-color: #f0e9df;
    position: relative;  
    overflow: hidden;
}

#yogafirstsec_innercontainer{
    height: 80%;
    width: 80%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#smalltitle1{
    width: 47%;
    display: inline-block;
} 

#smalltitle2{
    width: 47%;
    display: inline-block;
    text-align: right;
} 

#yogadescription_container{
    height: 105%;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#yogaimagebox{
    height: 50%;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#yogadescription_container h1{
    color: #1A241C;
    letter-spacing: 0.8px;        
    text-shadow: 0 2px 7px rgba(0, 0, 0, 0.20);  
}

#yogadescription_container p{
    color: #4A4A4A;
    text-shadow:
        0 1px 4px rgba(0, 0, 0, 0.2),            
        0 0 5px rgba(222, 214, 201, 0.8);        
}

#yogadescription_container .smalltitles{
    font-family: "Cormorant Garamond", serif;
}

#yogagreenbox{
    height: 95%;
    width: 115%;
  
    border-radius: 59px 7px 59px 7px;  
    background: linear-gradient(135deg, #30613c, #1f3d28);
    position: absolute;
    top: 39px;                          
    background-color: #30613c;
    z-index: 1;
}

#yogaimg{
    position: relative;
    height: 120%;
    width: 100%;
    background-image: url(/assets/images/yoga/view-woman-yoga-position.png);
    background-size: 110%;
    
    background-repeat: no-repeat;
    background-position: center center;
    overflow: visible;
    z-index: 2;
    top: -10px;                         

    filter: 
        drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.35)) 
        drop-shadow(0px 20px 39px rgba(0, 0, 0, 0.55)); 
}

#yogadescription_container p{
    text-align: center;
}
