

*{
    margin: 0;
    padding: 0;
}

#servicesbenefitsection{
    height: 650px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e9df;
}

#servicesbenefit_innercontainer{
    height: 90%;
    width: 80%;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#servicesbenefitdescription_leftcontainer{
    height: 80%;
    width: 35%;
 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

#servicesbenefitcards_rightcontainer{
    height: 90%;
    width: 60%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services_benefit_cards{
    height: 45%;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 2px;
    margin: 12px;

    background: linear-gradient(135deg, #30613c, #1f3d28);
    border-radius: 0 33px 0 33px;
    border: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.25),
        0 0 16px rgba(48, 97, 60, 0.35);
}

.services_benefit_cards h3{
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    color: #F3EDE4;
}

.services_benefit_cards p{
    font-size: 13px;
    padding-left: 7px;
    color: rgba(250, 248, 245, 0.6);
}

@media (max-width:600px){
    #servicesbenefitsection{
        height: 110%;
        padding: 70px 0;
    }
    #servicesbenefit_innercontainer{
        width: 90%;
        flex-direction: column;

       
    }
    #servicesbenefitdescription_leftcontainer{
        height: 300px !important;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
     
    }
    #servicesbenefitcards_rightcontainer{
        height: 800px!important;
        width: 100%;
        
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .services_benefit_cards{
        height: 13%;
        width: 90%;
        align-items: center;
        

    }
    h2{
        font-size: 30px;
        text-align: center;
    }
    h3{
        font-size: 15px !important;
        font-weight: none;
        font-family: "Cormorant Garamond", serif;
    }
    .smalltitles{
        font-size: 12px;
    }
    
    .services_benefit_cards p{
        font-size: 12px !important;
        text-align: start;
        
        
    }

}


