html {
  scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
}

#expertcontainer{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e9df;
}

#expertinnercontainer{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#expertfirstcontainer{
    height: 90%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

#expertnums{
    height: 90%;
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

.number, .membercaption{
    color: #30613c !important;
    text-shadow: none;
}


.expertcontainer{
    margin: 0 auto;
    height: 900px;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#expertparagraph{
    text-align: center;
}
.expertsmallcontainer{
    height: 70%;
    width: 100%;
    background-color: #f0e9df;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.expertboxes{
    height: 280px;
    width: 27%;
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  
}

.imgandgreen{
    height: 80%;
    width: 100%;
    position: relative;
    overflow: visible;
}


.expertgreenbox{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;               
    background-color: #30613c;
    border-radius: 20px 0 0 0;
    z-index: 1;
}


.expertphoto{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;          
    z-index: 2; 
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}


.expertboxes h3{
    font-size: 17px;
}
.expertboxes p{
    font-size: 13px;
}
.expertdescription{
    width: 100%;
    background-color:#cdc3b5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-radius: 0 0 20px 0;
    

}

#hathayogaexpert{
    background-image: url("/assets/images/yogaexperts/hathayogaexpert.png");
    
}
#vinyasayogaexpert{
    background-image: url("/assets/images/yogaexperts/vinyasayogaexpert.png");
}
    
