*{
    margin: 0;
    padding: 0;
}

#fitnessimg{
    position: relative;
    height: 120%;
    width: 100%;
    background-image: url(/assets/images/training/fitnessfirstpageimg.png);
    background-size: 140%;
    
    background-repeat: no-repeat;
    background-position: center center;
    overflow: visible;
    z-index: 2;
    top: -15px;
    /* filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.35)) */
    filter: 
        drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.35))
        drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.55));
   
}


#strengthtrainingimg::before{
    background-image: url(/assets/images/training/strengthtraining.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;                                                                                           
}

#hiitimg::before{
    background-image: url(/assets/images/training/HIIT.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cardiotrainingimg::before{
    background-image: url(/assets/images/training/cardiotraining.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#coretrainingimg::before{
    background-image: url(/assets/images/training/coretraining.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#mobilitytrainingimg::before{
    background-image: url(/assets/images/training/mobilitytraining.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#functionaltrainingimg::before{
    background-image: url(/assets/images/training/functionaltraining.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#burnfat, #betterposture{
    border-radius: 33px 0 33px 0;
}

#increaseenergy, #hearthealth{
    border-radius: 33px 33px 33px 33px;
}

@media (max-width:600px){
    #fitnessimg{
        transform: scale(1.42);
    }
}



