*{
    margin: 0;
    padding: 0;
}

#servicesforsection_container{
    height: 700px;
    width: 100vw;
    background-color: #faf8f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicesforsection_innercontainer{
    height: 70%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.servicesForGrid{
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.servicesCard{
    height: 90%;
    width: 15%;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #f0e9df;
}

.servicesForicon{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #d6cab9;
    color: #3e3838;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesForicon i{
    font-size: 27px;
}

.servicesCard p{
    font-size: 15px;
    line-height: 25px;
    
}

.servicesCard h3{
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    color: #000;
}

.servicesicon_container{
    height: 30%;
    width: 100%;
}

.h3container{
    height: 20%;
    width: 100%;
}

.pcontainer{
    height: 30%;
    width: 100%;
}

#servicesforparagraph{
    text-align: center;
}