*{
    margin: 0;
    padding: 0;
}

#servicesoffers_main{
  height: 800px;            
  width: 100vw;
  background-color: #f0e9df;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INNER CONTAINER (80% x 80%) */
#servicesoffers_inner{
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* LEFT LIST BOX */
#servicesOffersListBox{
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
}

/* LIST ROWS (NOT CARDS, just premium rows) */
.servicesOfferRow{
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 18px 22px;
  border-radius: 18px;
  background-color: #30613c;
  /* background: rgba(48, 97, 60, 0.08); */
  transition: 0.3s ease;
}

.servicesOfferRow i{
  font-size: 26px;
  color: white;
}

.servicesOfferRow span{
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: white;
  line-height: 1.6;
}

.servicesOfferRow:hover{
  transform: translateX(10px);
  background-color: #2d773f;
  
}

/* RIGHT TITLE BOX */
#servicesOffersTitleBox{
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

/* TITLE + SUBTITLE STYLE */
#servicesOffersTitleBox h2{
   text-align: center;
   padding-left: 40px;
}

#servicesOffersTitleBox p{
  padding-left: 40px;
}

#servicesOffersTitleBox .smalltitles{
    padding-left: 40px;
}
