*{
    margin:0;
    padding: 0px;
}

#footercontainer{
    height: 560px;
    width: 100vw;
    display: flex;
    border: 2px solid black;
    background-color: rgb(27 ,36, 29);
    
}

#fotterpart{
    height: 100%;
    width: 80%;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#fotter1{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    
    padding-top: 20px;  
}

#lowerfotter{
   
    height: 10%;
    width: 100%;
    color: rgba(255,255,255,0.5);
    font-size: 19px;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    padding-left: 40px;
    display: flex;
    justify-content: start;
    align-items: end;
   
}

#merodocfotterleft{
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 40px;
   
    
    
}
.foots{

    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    
}

#merodoclog{
    height:30%;
    width: 80%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 45px;
  
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 2px;
}
#merodoclogcaption{
    height:30%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.5);
    font-size: 20px;
    line-height: 35px;
    font-family: "Inter", sans-serif;
    letter-spacing: 1.1px;
}
#medialinks{
    height:20%;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    

}

.socialicons a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 8px;
  font-size: 20px;
  transition: 0.3s;

}
.socialicons a i {
  color: white !important;
}


.socialicons a:nth-child(1) { background: #1877F2; }
.socialicons a:nth-child(2) { background: #E1306C; }
.socialicons a:nth-child(3) { background: #1DA1F2; }
.socialicons a:nth-child(4) { background: #0A66C2; }
.socialicons a:nth-child(5) { background: #FF0000; }

.socialicons a:hover {
  transform: translateY(-6px);
}




    
.smallfoottitle{
    height: 30%;
    width: 100%; 
    color: rgb(244, 236, 236);
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    text-transform: uppercase;
   
    display:flex;
    justify-content: center;
    align-items: center;
}

.smallfootlists{
    
    height: 60%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgba(255,255,255,0.5);
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.smallcaptionhover{
   
    height: 22%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s ease;
    
    
}

.innersmallcaption{
    height: 100%;
    width: 60%;
    
}
#firstfoot .smallcaptionhover{
    padding-right: 50px;
}
#foot2 .smallfoottitle{
    padding-right: 10px;
}
#secondfoot .smallcaptionhover {
    padding-right: 7px;
}

#thirdfoot .smallcaptionhover {
    padding-right: 50px;
}

.smallcaptionhover:hover{
   
    transform: translateX(9px);
    color:aqua;
}


.linetag {
  border: none;
  height: 0;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255);
  margin: 25px 0;
}





