*{
    margin: 0;
    padding: 0;
}

#herosec2_container{
    scroll-margin-top: 105px;
    height: 1000px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #faf8f5; */
    background-color: rgb(250, 248, 245);
    
}

#herosec2{
    height: 90%;
    width: 80%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#sec2left_smallcontainer{
    height: 85%;
    width: 55%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

#philosophyimg{
    height: 70%;
    width: 40%;
   
    border-radius: 15px;
    background-image: url("landingpagebigsizeimages/herosec2img.jpg");
    background-size: cover;
}

.smalltitles{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    color:#30613c;
    letter-spacing: 2px;
    
}

h2{
    font-size: 75px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    color: #1A241C;
    letter-spacing: 1.3px;
}

p,a{
    font-size: 26px;
    font-family: "Inter", sans-serif;
    color: #30613c;
    line-height: 40px;
}

a{
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}
#sec2left_smallcontainer a:hover{
    transform: scale(1.1);
}

#sec2left_smallcontainer a:active{
    color: black;
}