*{
    margin:0;
    padding: 0;
}

#navbar_container{
    height: 105px;
    width:100vw;
    /* background-color: #ded6c9; */
    background-color: rgb(219, 217, 212);


    display: flex;
    justify-content: center ;
    align-items: center;
    border-radius: 5px;
    position:fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    
}


#nav_smallbox{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo{
    font-size: 35px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    color: #1b241d;
}

#other_btns{
    height: 100%;
    width: 40%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#other_btns a{ 
    height: 50%;
    position: relative;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #4e5950;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    background: transparent;
    border: none;
    cursor: pointer;

}
/* dropdown */
.nav-item {
  position: relative;
  display: inline-block;
}

/* Dropdown hidden by default */
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;

  background-color: white;
  min-width: 200px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);

  transition: 0.3s ease;
  z-index: 999;
}

/* Dropdown links */
.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

.dropdown-content a:hover {
  background: #f3f3f3;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}


#other_btns a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    background: #30613c;
    box-shadow: 0 0 12px rgba(60, 255, 143, 0.8);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
#other_btns a:hover::after{
    width: 100%;
    font-weight: normal;
}



#booknow{
    height: 50px;
    width: 150px;
    background-color: #30613c;
    font-size: 21px;
    color: white;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 550;
    transition: all 0.3s ease;
    border: none;
}

#booknow:hover{
    transform: scale(1.1);
    color: aqua;

}

#booknow:active{
    background-color: black;
}



