*{
    margin: 0;
    padding: 0;
}

#herosec3_container{
    scroll-margin-top: 105px;
    height: 1200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e9df;
    
    
}
#herosec3{
    height: 78%;
    width: 80%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#viewallservice{
    height: 7%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: end;
}
#herosec3 #anchor_viewallservices{
    height: 50px;
    width: 20%;
    color: #ffffff;
    background-color: #30613c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 10px;
}
#herosec3 #anchor_viewallservices:hover, #herosec4 a:hover{
    color: aqua;
    transform: scale(1.1) ;
}

#herosec3 #anchor_viewallservices:active, #herosec4 a:active{
    background-color: black;
}

#sec3small_container{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.serviceboxes{
    height: 90%;
    width: 22%;

    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceboxes_smallcontainer{
    height: 80%;
    width: 80%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.servicelogo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e4e1;
}

.servicetype{
    font-size: 35px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    color: #1A241C;
}

.servicecaption{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color:#4f5950;
    letter-spacing: 1.01px;

}

i{
    font-size: 35px;
    color:#4f5950 ;
}
